.bundle
.env
.env.*
docker-compose.*
docker/Dockerfile
docker/dockerfiles
log
storage
public/system
tmp
.codeclimate.yml
public/packs
node_modules
.pnpm-store
vendor/bundle
.DS_Store
*.swp
*~
script/disparador_import_account_10.sql
script/disparador_import_account_10_data.sql
